{% extends 'base.html.twig' %}

{% block body %}

<h1>Page not found</h1>
<p>Thanks to contact we to <i>enrique0goio@gmail.com</i></p>


<p><a href="{{ path('app_home') }}">return to page home</a></p>

{% endblock %}